apiVersion: v2
name: erato
description: Helm chart for the Erato chat application
type: application
version: 0.5.1
appVersion: 0.5.1
maintainers:
- name: Erato Team
dependencies:
- name: common
  version: 2.30.0
  repository: oci://registry-1.docker.io/bitnamicharts
