# This is a ignore file used with the frontend build (frontend + office-addin)

# Version control
.git/
.gitignore
.gitmodules

# Temporary directories
tmp/
./frontend/tmp
./office-addin/tmp

# Environment variables
.env
.env.*

# Dependencies (will be installed inside the Docker build)
./desktop-sidecar-protocol/node_modules
./desktop-sidecar-protocol/dist
./frontend/node_modules
./office-addin/node_modules

# Irellevant projects for build
./backend
./e2e-tests
./site

# Requirements directory (managed via git submodules)
.requirements/

# Editor directories
.idea/
.vscode/

# System files
.DS_Store 
