DATABASE_URL="postgres://eratouser:eratopw@localhost:5432/erato"
FRONTEND__WEB_FRONTEND_BUNDLE_PATH="../frontend/out"
INTEGRATIONS__MS_OFFICE__ADDIN__FRONTEND_BUNDLE_PATH="../office-addin/dist"

CHAT_PROVIDER__PROVIDER_KIND="ollama"
CHAT_PROVIDER__MODEL_NAME="smollm2:135m"
CHAT_PROVIDER__BASE_URL="http://localhost:12434/v1/"
