[workspace]
resolver = "2"
members = ["erato", "mock-llm-server", "mock-mcp-server"]

[profile.dev]
split-debuginfo = "packed"

[profile.release]
# Better stack traces in production deployments
debug = "full"
split-debuginfo = "packed"
