provider="entra-id"
oidc_issuer_url="https://login.microsoftonline.com/{{TENANT_ID}}/v2.0"
client_id="{{CLIENT_ID}}"
client_secret="{{CLIENT_SECRET}}"
scope="openid profile email offline_access"

# IMPORTANT: This URL needs to be adjusted to fit you tailscale funnel endpoint
redirect_url = "http://localhost:4181/oauth2/callback"
upstreams = [
    "http://localhost:3002/public/component-kits/#/public/component-kits/",
    "http://localhost:3002/assets/#/assets/",
    "http://localhost:3002/favicon.ico#/favicon.ico",
    "http://localhost:3002/public/platform-office-addin/voice-runtime/#/public/platform-office-addin/voice-runtime/",
    "http://localhost:3002/office-addin/#/",
    "http://localhost:3130/office-addin/manifest.xml#/office-addin/manifest.xml",
    "http://localhost:3130/api/#/api/",
    "http://localhost:3130/public/common/#/public/common/",
]
skip_auth_routes = [
    "^/assets/.*$",
    "^/favicon\\.ico$",
    "^/public/.*$",
    "^/office-addin$",
    "^/office-addin/.*",
]
api_routes = ["^/api/.*$"]
email_domains = ["*"]
http_address = "localhost:4181"
cookie_secret = "{{COOKIE_SECRET}}"
cookie_secure = false
cookie_domains = [".localhost"]
cookie_name = "_oauth2_proxy"
whitelist_domains = [
    ".localhost:4181",
    ".localhost:3002",
    ".localhost:3130"
]
set_xauthrequest = true
pass_authorization_header = true
pass_access_token = true
skip_jwt_bearer_tokens = true
session_store_type = "redis"
redis_connection_url = "redis://localhost:6379"
