services:
  dex:
    # https://github.com/dexidp/dex/releases
    image: dexidp/dex:v2.41.1
    network_mode: host
    volumes:
      - ./dex-config.yml:/etc/dex/config.yml
    command: ["dex", "serve", "/etc/dex/config.yml"]
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "http://localhost:5556/healthz"]
      interval: 2s
      timeout: 5s
      retries: 10
      start_period: 2s

  oauth2-proxy:
    # https://github.com/oauth2-proxy/oauth2-proxy/releases
    image: quay.io/oauth2-proxy/oauth2-proxy:v7.14.2
    network_mode: host
    volumes:
      - ./oauth2-proxy.cfg:/etc/oauth2-proxy/oauth2-proxy.cfg
    command: ["--config", "/etc/oauth2-proxy/oauth2-proxy.cfg"]
    depends_on:
      dex:
        condition: service_healthy
