{{- if .Values.oauth2Proxy.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-oauth2-proxy-config-file
  namespace: {{ include "common.names.namespace" . | quote }}
  labels: {{- include "common.labels.standard" ( dict "customLabels" .Values.commonLabels "context" $ ) | nindent 4 }}
data:
  oauth2-proxy.cfg: |-
{{ .Values.oauth2Proxy.config | indent 4 }}
{{- if .Values.oauth2Proxy.redis.enabled }}
    session_store_type = "redis"
    redis_connection_url = "redis://{{ .Release.Name }}-oauth2-proxy-redis:6379"
{{- end }}
{{- end }} 
