{{- if .Values.oauth2Proxy.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-oauth2-proxy
  namespace: {{ include "common.names.namespace" . | quote }}
  labels: {{- include "common.labels.standard" ( dict "customLabels" .Values.commonLabels "context" $ ) | nindent 4 }}
    app.kubernetes.io/component: oauth2-proxy
  {{- if or .Values.oauth2Proxy.deploymentAnnotations .Values.commonAnnotations }}
  {{- $annotations := include "common.tplvalues.merge" ( dict "values" ( list .Values.oauth2Proxy.deploymentAnnotations .Values.commonAnnotations ) "context" . ) }}
  annotations: {{- include "common.tplvalues.render" ( dict "value" $annotations "context" $) | nindent 4 }}
  {{- end }}
spec:
  replicas: 1
  {{- with .Values.oauth2Proxy.deploymentStrategy }}
  strategy:
{{ toYaml . | nindent 4 }}
  {{- end }}
  selector:
    matchLabels: {{- include "common.labels.matchLabels" ( dict "customLabels" .Values.commonLabels "context" $ ) | nindent 6 }}
      app.kubernetes.io/component: oauth2-proxy
  template:
    metadata:
      labels: {{- include "common.labels.matchLabels" ( dict "customLabels" .Values.commonLabels "context" $ ) | nindent 8 }}
        app.kubernetes.io/component: oauth2-proxy
        app.kubernetes.io/app-version: {{ .Chart.AppVersion }}
      {{- if or .Values.oauth2Proxy.podAnnotations .Values.commonAnnotations }}
      {{- $podAnnotations := include "common.tplvalues.merge" ( dict "values" ( list .Values.oauth2Proxy.podAnnotations .Values.commonAnnotations ) "context" . ) }}
      annotations: {{- include "common.tplvalues.render" ( dict "value" $podAnnotations "context" $) | nindent 8 }}
      {{- end }}
    spec:
      {{- include "erato.imagePullSecrets" . | nindent 6 }}
      containers:
        - name: oauth2-proxy
          image: "{{ .Values.oauth2Proxy.image.repository }}:{{ .Values.oauth2Proxy.image.tag }}"
          imagePullPolicy: {{ .Values.oauth2Proxy.image.pullPolicy }}
          args:
            - --config=/etc/oauth2-proxy/oauth2-proxy.cfg
          {{- if .Values.oauth2Proxy.extraEnvVars }}
          env:
            {{- include "common.tplvalues.render" (dict "value" .Values.oauth2Proxy.extraEnvVars "context" $) | nindent 12 }}
          {{- end }}
          {{- if or .Values.oauth2Proxy.extraEnvVarsCM .Values.oauth2Proxy.extraEnvVarsSecret }}
          envFrom:
            {{- if .Values.oauth2Proxy.extraEnvVarsCM }}
            - configMapRef:
                name: {{ .Values.oauth2Proxy.extraEnvVarsCM }}
            {{- end }}
            {{- if .Values.oauth2Proxy.extraEnvVarsSecret }}
            - secretRef:
                name: {{ .Values.oauth2Proxy.extraEnvVarsSecret }}
            {{- end }}
          {{- end }}
          ports:
            - name: http
              containerPort: 4180
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /ping
              port: http
            initialDelaySeconds: 5
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /ping
              port: http
            initialDelaySeconds: 5
            periodSeconds: 10
          resources:
            {{- toYaml .Values.oauth2Proxy.resources | nindent 12 }}
          volumeMounts:
            - name: config
              mountPath: /etc/oauth2-proxy
            {{- if .Values.oauth2Proxy.extraVolumeMounts }}
            {{- toYaml .Values.oauth2Proxy.extraVolumeMounts | nindent 12 }}
            {{- end }}
      volumes:
        - name: config
          configMap:
            name: {{ .Release.Name }}-oauth2-proxy-config-file
        {{- if .Values.oauth2Proxy.extraVolumes }}
        {{- toYaml .Values.oauth2Proxy.extraVolumes | nindent 8 }}
        {{- end }}
{{- end }}
